body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Bebas Neue', cursive;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url('/assets/19187709\ 1.png');
    background-size:cover;
    max-width: 900px;
    margin: 0 auto;
    
}


.logo {
    background:white;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Logo PrezzoGiusto*/
.logo img {
   width: 256px;
   margin: 24px;
}
/*Richiedi una consulenza gratuita e tu risparmi fino a 144 euro all'anno%*/
.header{

    margin: 24px 0;
    width: 80%;
    text-transform: uppercase;
    color: white;
    text-shadow: -2px 0 #00532c, 0 2px #00532c, 2px 0 #00532c, 0 -2px #00532c;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;

}

.header p {
  
    margin: 0;
    text-align: center;
    margin: 8px 0;
}

.green-text{
  
  color: #00532c;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white; 
 
}

/*Inserisci il tuo numero*/
.contatti input {
    width: 230px;
    height: 32px;
    padding: 0 8px;
    border-radius: 5px;
    margin: 8px;
    background: #FFFFFF;
    box-shadow: 0px 4.2px 4.2px rgba(0, 0, 0, 0.25);
    
}

/*Ti chiamiamo noi*/
.contatti button {
    padding: 8px;
    width: 230px;
    background-color: #1ac8fa;
    color: white;
    border-radius: 5px;
    margin: 8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4.2px 4.2px rgba(0, 0, 0, 0.25);
}

.contatti{
  display: flex;
}
.contatti button:hover{
  
    background-color:  #1eb2db;
    
}

/*Accetto i termini e le condizioni ai sensi di legge*/
.termini-servizio {
    margin: 8px;
    width: 500px;
    display: flex;
    color: white;
    font-size: 8px;
    flex-direction: row;
    font-family: 'Univers LT Std';
  
}

/*Dicono di noi*/
.diconoDiNoi{
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #1FB584;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    
  }

.wifi{
  height: 80%;
}

.feedback{
  background-color: white;
  min-height: 50px;
  width: 600px;
  margin: 8px 0;
  padding: 0 16px;
  border: 2px solid #35cafb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Helvetica";
}

.trustpilot img{
margin:0 8px;
}

.feedback p{
  text-align: center;
}

.stars{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 8px;
}

.trustpilot {
  display: flex;
  flex-direction: row;
}

.stars img {
  margin: 0 2px;
}

.recensioni p {
  text-align: left;
}

/*Vari loghi delle aziende partner*/
.partners {

    background-color: white;
    height: 50px;
    width: 600px;
    margin: 8px 0;
    padding: 0 16px;
    border: 2px solid #35cafb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

.partners img {
    margin: 16px;
}

/*Prezzogiusto è al primo posto tra le migliori aziende nella categoria sito di comparazione dei prezzi su trustpilot*/
.footer {
    text-align: center;
    background: #F3F3F3;
    font-family: 'Univers LT Std';
    color: rgba(31, 31, 31, 0.79);
    height: 64px;
    display: flex;
    width: 100%;
    font-size: 8px;
}

.footer div {
    width: 60%;
    margin: 0 auto;
}

/*Parte responsive per mobile*/

@media all and (max-width: 610px) { 

 
  .contatti {
        display: flex;
        flex-direction: column;
    }

  .contatti input {
        width: 80;
        margin: 8px;
    }

 .contatti button {
        width: auto;
        margin: 8px;
    }
  
    /*!!!!!!!!NON VA BENE A CAPO, DA MIGLIORARE!!!!!!!!*/
  .feedback{       
    width: 80%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
  }  
    /*!!!!!!!!NON VA BENE A CAPO, DA MIGLIORARE!!!!!!!!*/
  .partners{
      display: flex;
      width: 80%;
      flex-wrap: wrap;
      flex-direction: column;
     
    }
 } 





 /* CODICE MODALE */

 .modal-shown {
    display: block;
  }
  
  .modal-hidden {
    display: none;
  }
  
  .modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(222, 0, 0);
    background-color: rgba(2, 0, 0, 0.5);
    border-radius: 5px;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 960px;
    position: relative;
    animation: fadein 1s;
    border-radius: 10px;
    border: 3px solid #1FB584;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .modal-close {
    cursor: pointer;
    right: 0;
  }
  
  .modal-close:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }

  .vedi-numero{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }